{% extends 'base.html' %}

  {% block content %}
    
    
    

         <table class="table table-dark table-striped " style="margin-top:10px;">
  <thead>
    <tr>
      <h2 class="text-center">ARE YU SURE WANT TO DELETE </h2>
    </tr>
  </thead>

  
  <tbody>
    <tr>
      
        <td>{{item.event_id}}</td>
        <td>{{item.event_name}}</td>
        <td>{{item.event_date}}</td>
        <td>{{item.organizer_email}}</td>
        <td>{{item.organizer_phone}}</td>
        <td>{{item.event_description}}</td>
        <td>{{item.event_type}}</td>
        <td>{{item.event_location}}</td>
        <td>{{item.event_status}}</td>
        <td>{{item.max_seats}}</td>
      <td><a type="button" href="{% url 'viewevent' %}" class="btn btn-warning">Cancel</a></td>
      <td><form action="" method='POST'>
            {% csrf_token %}
    
        <input type="submit" class="btn btn-warning" name="Confirm" >
        </form></td>
    </tr>
    
  </tbody>
  


</table>
    {% endblock content %}
   