{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container">
    <div class="title">Registration</div>
    <div class="content">
      <form method="POST" action="">
        {% csrf_token %}
        <div class="user-details">
          <div class="input-box">
            <span class="details">Username</span>
            {{form.participant_name}}
          </div>
          <div class="input-box">
            <span class="details">Email</span>
            {{form.participant_email}}
          </div>
          <div class="input-box">
            <span class="details">Phone Number</span>
            {{form.participant_phone}}
          </div>
          <div class="input-box">
            <span class="details">Password</span>
            {{form.participant_password}}
          </div>
        </div>
        <div class="button">
          <input type="submit" value="Register">
        </div>
      </form>
    </div>
  </div>
{% endblock content %}